.navbar-nav {
  float: left;
  margin: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative; }

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.color__titulo, h1, a, h2 {
  color: black;
  text-decoration: none;
  font-size: 4rem; }

.color__subtitulo, h2 {
  color: #5d6366;
  text-decoration: underline;
  font-size: 2.5rem; }

.color__parrafo, p {
  color: #20206e;
  text-decoration: none;
  font-size: 2rem; }

.color__links, a {
  color: #607c03;
  text-decoration: none;
  font-size: 1.5rem; }

/*Estilos generales para toda la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

main {
  width: 100vw; }

body {
  background: linear-gradient(to bottom, #5F6CAF, #EDF7FA, #5F6CAF); }

footer {
  width: 100vw; }

/*estilos de etiquetas de texto generales para toda la pagina*/
h1, a, h2 {
  font-family: Inter;
  font-weight: bold;
  text-align: center; }

h2 {
  font-style: oblique; }

p {
  font-family: Bangers; }

@font-face {
  font-family: IndieFlower;
  src: url("../fonts/IndieFlower-Regular.ttf"); }

@font-face {
  font-family: Bangers;
  src: url("../fonts/Bangers-Regular.ttf"); }

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf"); }

header {
  background-image: url("../imagenes/fondoHeader.jpg");
  background-size: cover;
  text-align: center;
  width: 100vw; }

.imagenLogo {
  border-radius: 50%;
  border: double 1rem #5F6CAF; }

.sin_fondo_nav {
  background: linear-gradient(to bottom, black, #EDF7FA, #5f6caf); }

.navbar-nav .iconNav {
  margin: auto;
  width: 2rem;
  height: 2rem; }

.navbar-nav a {
  text-transform: uppercase; }

.footer {
  display: flex; }
  .footer .contenedor__pie {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #5f6caf, #EDF7FA, #FFB677);
    width: 100vw;
    justify-content: space-around;
    align-items: center; }
    .footer .contenedor__pie img {
      width: 5rem;
      height: 5rem;
      border-radius: 0.8rem; }
    .footer .contenedor__pie .imagen_creador {
      display: flex;
      flex-direction: row;
      justify-items: left; }
    .footer .contenedor__pie .links {
      display: flex; }
      .footer .contenedor__pie .links ul {
        display: flex;
        flex-direction: row; }
        .footer .contenedor__pie .links ul li {
          margin: 1rem 2rem;
          list-style: none; }
    .footer .contenedor__pie .contenedor__redes2 {
      display: flex;
      flex-direction: row; }

.index--titulo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.contenedor__cards_index {
  display: flex;
  flex-direction: row;
  margin: auto; }
  .contenedor__cards_index .card {
    background-color: #FFB677;
    border-radius: 1.5rem;
    margin-top: 2rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor__cards_index .card .card_titulo {
      text-align: center; }
    .contenedor__cards_index .card .card-img-top {
      border: solid none;
      border-radius: 0.5rem;
      width: 15rem;
      height: 20rem;
      align-self: center;
      margin: 1rem;
      -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor__cards_index .card .card_text {
      background-color: beige;
      height: 40rem;
      border-radius: 0.5rem;
      border: double 0.5rem black;
      text-align: center;
      align-self: center;
      padding: 3rem;
      overflow: auto;
      margin: auto;
      margin-bottom: 2rem; }

.titulo_barras h2 {
  text-align: center;
  margin: 2rem;
  text-decoration: underline; }

.titulo_barras .contenedor_barras {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto; }
  .titulo_barras .contenedor_barras h3 {
    font-size: smaller; }
  .titulo_barras .contenedor_barras .barra {
    height: 2rem;
    margin: 2rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }

.contenedor__videos {
  margin: 2rem auto; }
  .contenedor__videos h2 {
    text-align: center;
    margin: 2rem auto;
    font-size: large; }
  .contenedor__videos .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .contenedor__videos .videos iframe {
      padding: 0;
      margin: 0;
      -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
      .contenedor__videos .videos iframe:hover {
        border-radius: 15px;
        -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
        box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
        transform: rotateY(360deg);
        transition: linear 5s; }

.atos__title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.contenedor__atos_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem; }
  .contenedor__atos_main .imagenes__atos__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .contenedor__atos_main .imagenes__atos__left img {
      width: 20rem;
      height: 20rem;
      margin: auto;
      padding: 0;
      border-radius: 1rem;
      -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
  .contenedor__atos_main .atos__articulos {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 4rem;
    background-color: #ffb677;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor__atos_main .atos__articulos section {
      display: flex;
      flex-direction: column; }
      .contenedor__atos_main .atos__articulos section h2 {
        font-size: 2rem;
        padding-bottom: 1.5rem; }
      .contenedor__atos_main .atos__articulos section p {
        text-align: center; }
  .contenedor__atos_main .imagenes__atos__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .contenedor__atos_main .imagenes__atos__right img {
      width: 20rem;
      height: 20rem;
      margin: auto;
      padding: 0;
      border-radius: 1rem;
      -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }

.contenedor-cards {
  display: flex;
  flex-direction: column; }
  .contenedor-cards h1, .contenedor-cards a, .contenedor-cards h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .contenedor-cards .liquidos_card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background-color: #ffb677;
    border-radius: 3rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor-cards .liquidos_card .card__cuerpo {
      display: flex;
      flex-direction: row; }
      .contenedor-cards .liquidos_card .card__cuerpo img {
        width: 13rem;
        height: 13rem;
        border-radius: 3rem;
        margin: 0.3rem 1rem 4.5rem 1rem;
        -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
        box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
      .contenedor-cards .liquidos_card .card__cuerpo p {
        margin: auto 1rem; }

.accesorios__titulo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.contenedor__complementos {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .contenedor__complementos .accesorios_card {
    margin: 0.3rem auto 0.7rem;
    flex-wrap: nowrap;
    border-radius: 3rem;
    background-color: #ffb677;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor__complementos .accesorios_card .card-img-top {
      border: none none;
      border-radius: 1rem;
      width: 20rem;
      height: 25rem;
      align-self: center;
      margin: 1rem;
      -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
      box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
    .contenedor__complementos .accesorios_card .card-body .card-text {
      text-align: center;
      font-weight: lighter; }

.contenedor_video_alquimia {
  display: flex;
  flex-direction: row; }
  .contenedor_video_alquimia h1, .contenedor_video_alquimia a, .contenedor_video_alquimia h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .contenedor_video_alquimia iframe {
    height: 40rem;
    border-radius: 3rem;
    margin: 2rem auto 2rem;
    padding: 0;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -8px 14px 37px 0px rgba(0, 0, 0, 0.52); }
  .contenedor_video_alquimia p {
    text-align: center;
    margin: 2rem auto;
    padding: 4rem; }

.titulo__formulario {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  margin: 2rem auto; }

@media (max-width: 576px) {
  .contenedor__videos {
    margin: 2rem auto; }
  .footer .contenedor__pie {
    flex-direction: column; }
    .footer .contenedor__pie .links ul {
      flex-direction: column;
      text-align: center; }
  .contenedor__atos_main {
    flex-direction: column; }
    .contenedor__atos_main .imagenes__atos__left {
      display: none; }
    .contenedor__atos_main .imagenes__atos__right {
      display: none; } }

@media (max-width: 768px) {
  .contenedor__videos {
    margin: 2rem auto; }
  /*pertenece al footer*/
  .footer .contenedor__pie {
    flex-direction: column; }
  /*pertenece a la seccion liquidos*/
  .liquidos_card .card__cuerpo {
    flex-direction: column; }
    .liquidos_card .card__cuerpo img {
      align-self: center; }
    .liquidos_card .card__cuerpo p {
      padding: 1rem; }
  /*pertenece a la seccion liquidos*/
  .contenedor-cards .liquidos_card .card__cuerpo {
    flex-direction: column; }
    .contenedor-cards .liquidos_card .card__cuerpo img {
      width: 20rem;
      height: 20rem;
      margin: 1.5rem; } }

@media (max-width: 992px) {
  .card__cuerpo img {
    align-self: center; }
  .card__cuerpo p {
    padding: 1rem; } }

@media (max-width: 1200px) {
  .contenedor__atos_main {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .contenedor__atos_main .imagenes__atos__left {
      flex-direction: row; }
    .contenedor__atos_main .atos__articulos {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .contenedor__atos_main .imagenes__atos__right {
      flex-direction: row; } }
