/*comienzo de intrucciones generales*/
/*formatea la pagina web para sacar los margenes */
/*convierte el tamaño de la fuente por defecto de 16px a 10px para que sea facil el calculo en rem*/
html{
    font-size: 62.5%;  
}
/*insertamos una font-family descargada para poder utilizarla como atributo*/
@font-face{
    font-family: IndieFlower;
    src: url("../fonts/IndieFlower-Regular.ttf");
}
@font-face{
    font-family: Bangers;
    src: url("../fonts/Bangers-Regular.ttf");
}
main{
    width: 100vw;
}
/*los tributos en el body va a ser modificados en todas las secciones de mi pagina*/
body{
    background: linear-gradient(to bottom,#5F6CAF, #EDF7FA, #5F6CAF);
}
header{
    background-image: url("../imagenes/fondoHeader.jpg");
    background-size: cover;
    text-align: center;
    width: 100vw;
}
footer{
    width: 100vw;
}
/*transicion descargada de pag para el logo del nav */
.navbar-nav {
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}
.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomOut {
    0% {
    opacity: 1;
    }
    
    50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 0;
    }
    }
    @keyframes zoomOut {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 0;
    }
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

/*Fin de transicion descargada de pag para el logo del nav */
/*Class para darle estilo al logo del nav*/
.imagenLogo{
    border-radius: 50%;
    border: solid 3px #5F6CAF;
}
/*estilos para las etiquetas a h1 y p en general para el resto de la pagina*/
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
h1{
    font-size: 3rem;
    font-family: Bangers;
    font-weight: bold;
}
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: IndieFlower;
}
/*Fin estilos para las etiquetas a h1 y p en general para el resto de la pagina*/
/*estilos de las card del index*/
.card-img-top{
    width: 15vw;
    align-self: center;
    margin :2rem;
}
.card_text{
    
    text-align: center;
    align-self: center;
    padding: 3rem;
    overflow: auto;
    
}
.card{
    height: 40vw;
}
/*comienzo de estilos de los videos relacionados en el Index*/
.contenedor__videos{
    width: 100%;
    margin: 2rem 0;
    grid-area: videos;
    grid-row: 3/4;
    grid-column: 1/5;
}
.contenedor__videos h2{
    text-align: center;
    margin: 3rem;
    font-size: medium;
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contenedor__videos iframe{
    width: 30rem;
    height: 15rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.contenedor__videos iframe:hover{
    border-radius: 15px;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    transform: rotateY(360deg);
    transition:linear 5s; 
}
/*fin de los videos relacionados*/
/*fin de disenio de body*/
/*comienzo del footer*/
.contenedor__pie{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom,#5f6caf, #EDF7FA, #FFB677);
    width: 100vw;
    
}
.contenedor__redes2{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content:right;
}
.contenedor__pie img{
    width: 5rem;
    height: 5rem;
}
.links ul{
    display: flex;
    flex-direction: row;
}
.links ul li{
    text-decoration: underline;
    margin: 15px 15px 0px 15px;
}
/*fin de footer*/
/*Comienzo de los grid*/
.footer{
    grid-area: footer;
}
/*Comienzo de estilos en seccion de Atos*/
.grid__atos{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    "main_atos main_atos main_atos main_atos"
    "footer footer footer footer"
    ;
}
.contenedor__atos_main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.imagenes__atos img{
    width: 100px;
    margin: 3rem 5rem 3rem 5rem;
    justify-items: center;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.atos__title{
    text-align: center;
    margin-top: 3rem;
}
.imagenes__atos{
    display: flex;
    flex-direction: column;
    
}
.atos__articulos{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    width: 80%;
    padding: 4rem;
    overflow-y: auto;
    margin: 3rem 5rem 4rem 0;
    background-color: rgb(255, 182, 119);
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    
}
.atos__articulos section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.atos__articulos section h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.main__atos{
    grid-area: main-atos;
}
/*Fin de estilos en seccion de Atos*/
/* Comienzo de estilos en seccion de Liquidos*/
.main__liquidos{
    grid-area: main__liquidos;
    
}
.grid__liquidos{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 5,1fr;
    grid-template-areas: 
    "encabezado"
    "main__liquidos"
    "main__liquidos"
    "main__liquidos"
    "footer"
    ;
}
.contenedor-cards{
    display: flex;
    flex-direction: column;
}
.contenedor-cards h1{
    text-align: center;
    font-size: 3rem;
}
.card{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    background-color: rgb(255, 182, 119);
    border: solid 1px black;
    border-radius: 10px;
    padding: 2rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.card h2{
    text-align: center;
    font-size: 2rem;
}
.card__cuerpo{
    display: flex;
    flex-direction: row;
    margin: 5rem;
}
.card__cuerpo p{
    text-align: center;
    margin: auto;
    padding: 2px;
    overflow: auto;
}
.card__cuerpo img{
    width: 15rem;
    border-radius: 15px;
}
/*Fin de estilos en seccion de Liquidos*/
/*corresponde a la seccion Accesorios*/
main h1{
    text-align: center;
    margin: 4rem;
}
.contenedor__complementos{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    margin: auto;
}
.card img{
    border-radius: 10px;
}
.card p{
    overflow: auto;
}
/*Fin de  la seccion Accesorios*/
/*corresponde a la seccion Alquimia*/
.main__alquimia{
    
    margin: auto;
}
.contenedor__alquimia h2{
    text-align: center;
    font-size: 2rem;
}
.contenedor__alquimia iframe{
    width:55rem; 
    height:32rem;
    margin: auto;
}
.contenedor__alquimia p{
    text-align: center;
    margin: auto;
    padding: 3rem 30rem 3rem;
    
}
/*fin a la seccion Alquimia*/
/*corresponde a la seccion contactenos*/
form{
    font-size: 20px;
    text-align: center;
}
.titulo__formulario{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
    text-decoration: underline;
}
fieldset{
    height: 100%;
}
/*responsive main*/
/*Fin responsive main*/
/*responsive seccion atos*/
@media (max-width:992px){
    .links ul{
        display: none;
    }
    .contenedor__pie{
        justify-self: center;
    }
}
@media (max-width:768px){
    /*
    .grid__atos{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "encabezado"
        "main-atos"
        "footer";
    }
    */
    .imagenes__atos{
        display: none;
    }
    .atos__articulos{
        width: 90vw;
        height: 90vh;
        margin: auto;
    }
    .contenedor__atos_main{
        align-items: center;
    }
    .videos{
        flex-direction: column;
        align-self: center;  
    }
    .videos iframe{
        margin: 2rem auto;
        
    }
    .links ul{
        display: none;
    }
    .contenedor__pie{
        justify-content: space-between;
    }
    /* pertenece a la imagen del card de la seccion liquidos*/
    .card__cuerpo img{
        height: 25vh;
    }
}
/*Fin responsive seccion atos*/
/*Responsive seccion Liquidos*/
@media (max-width:566px) {
    .grid__liquidos{
        grid-template-areas: 
        "encabezado"
        "main__liquidos"
        "main__liquidos"
        "main__liquidos"
        "footer";
    }
    .card h2{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .card__cuerpo{
        flex-direction: column;
        margin: 2rem;
        
    }
    .card__cuerpo img{
        width: 15rem;
        align-self: center;
    }
    .card__cuerpo p{
        overflow: auto;
    }
    
}