/*comienzo de intrucciones generales*/
/*formatea la pagina web para sacar los margenes */
/*convierte el tamaño de la fuente por defecto de 16px a 10px para que sea facil el calculo en rem*/
html{
    font-size: 62.5%;  
}
/*insertamos una font-family descargada para poder utilizarla como atributo*/
@font-face{
    font-family: IndieFlower;
    src: url("../fonts/IndieFlower-Regular.ttf");
}
@font-face{
    font-family: Bangers;
    src: url("../fonts/Bangers-Regular.ttf");
}
main{
    width: 100vw;
}
/*los tributos en el body va a ser modificados en todas las secciones de mi pagina*/
body{
    background: linear-gradient(to bottom,#5F6CAF, #EDF7FA, #5F6CAF);
    width: 100vw;
}
header{
    background-image: url("../imagenes/fondoHeader.jpg");
    background-size: cover;
    text-align: center;
    width: 100vw;
}
footer{
    width: 100vw;
}
.sin_fondo_nav{
    background: linear-gradient(to bottom,black, #EDF7FA, #5f6caf);
}

/*transicion descargada de pag para el logo del nav */
.navbar-nav {
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}
.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomOut {
    0% {
    opacity: 1;
    }
    
    50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 0;
    }
    }
    @keyframes zoomOut {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    100% {
    opacity: 0;
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

/*Fin de transicion descargada de pag para el logo del nav */
/*Class para darle estilo al logo del nav*/
.imagenLogo{
    border-radius: 50%;
    border: double 1rem #5F6CAF;
}
/*estilos para las etiquetas a h1 y p en general para el resto de la pagina*/
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
h1{
    font-size: 4rem;
    font-family: Bangers;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: IndieFlower;
}
/*Fin estilos para las etiquetas a h1 y p en general para el resto de la pagina*/

/*estilos de las card del index*/
.contenedor__cards_index{
    display: flex;
    justify-content: space-around;
}
.card{
    
    background-color: #FFB677;
    border-radius: 1.5rem;
    margin-top: 2rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.card_titulo{
    text-align: center;
}
.card-img-top{
    border: solid white;
    border-radius: 1rem;
    width: 20rem;
    height: 25rem;
    align-self: center;
    margin :1rem;
}
.card_text{
    background-color: beige;
    height: 40rem;
    border-radius: 0.5rem;
    border:double 0.5rem black;
    text-align: center;
    align-self: center;
    padding: 3rem;
    overflow: auto;
    margin: auto;
    margin-bottom: 2rem;
    
}
/*Fin del main del Index*/

/*comienzo de estilos de los videos relacionados en el Index*/
.contenedor__videos{
    margin: 2rem auto;
}
.contenedor__videos h2{
    text-align: center;
    margin:2rem auto;
    font-size:large;
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contenedor__videos iframe{
    padding: 0;
    margin: 0;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.contenedor__videos iframe:hover{
    border-radius: 15px;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    transform: rotateY(360deg);
    transition:linear 5s; 
}
/*fin de los videos relacionados*/

/*comienzo del footer*/
.contenedor__pie{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom,#5f6caf, #EDF7FA, #FFB677);
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    
}
.imagen_creador{
    display: flex;
    flex-direction: row;
    justify-items: left;
}
.contenedor__redes2{
    display: flex;
    flex-direction: row;
    
}
.links{
    display: flex;
}
.contenedor__pie img{
    width: 5rem;
    height: 5rem;
}
.links ul{
    display: flex;
    flex-direction: row;
}
.links ul li{
    margin: 15px ;
}
.footer{
    display: flex;
}
/*fin de footer*/

/*Comienzo de estilos en seccion de Atos*/
.contenedor__atos_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagenes__atos img{
    padding: 0;
    border-radius: 1rem;
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
.atos__title{
    text-align: center;
}
.imagenes__atos{
    display: flex;
    flex-direction: column;
    height: auto;

}
.atos__articulos{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    padding: 4rem;
    overflow-y: auto;
    background-color: rgb(255, 182, 119);
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    
}
.atos__articulos section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.atos__articulos section h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
/*Fin de estilos en seccion de Atos*/

/* Comienzo de estilos en seccion de Liquidos*/

/*
.main__liquidos{
    grid-area: main__liquidos;
    
}

.contenedor-cards{
    display: flex;
    flex-direction: column;
}
.contenedor-cards h1{
    text-align: center;
    font-size: 3rem;
}


*/


/*Fin de estilos en seccion de Liquidos*/
/*corresponde a la seccion Accesorios*/


/*
main h1{
    text-align: center;
    margin: 4rem;
}
.contenedor__complementos{
    display: flex;
    flex-wrap: wrap;
    
}
*/


/*Fin de  la seccion Accesorios*/
/*corresponde a la seccion Alquimia*/
.main__alquimia{
    
    margin: auto;
}
.contenedor__alquimia h2{
    text-align: center;
    font-size: 2rem;
}
.contenedor__alquimia iframe{
    width:55rem; 
    height:32rem;
    margin: auto;
}
.contenedor__alquimia p{
    text-align: center;
    margin: auto;
    padding: 3rem 30rem 3rem;
    
}
/*fin a la seccion Alquimia*/
/*corresponde a la seccion contactenos*/
form{
    font-size: 20px;
    text-align: center;
}
.titulo__formulario{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
    text-decoration: underline;
}
fieldset{
    height: 100%;
}
/*responsive main*/
/*Fin responsive main*/
/*responsive seccion atos*/
@media(max-width:768px) {
    .links{
        display: none;
    }
}
@media(max-width:992px) {
    .imagenes__atos{
        display: none;
    }
}