@mixin titulosPrincipales($align, $marginUp,$marginDown){
    text-align: $align;
    margin-top: $marginUp;
    margin-bottom: $marginDown;
}

$colores:("titulo":black,"subtitulo":rgb(93, 99, 102),"parrafo":rgb(32, 32, 110),"links":rgb(96, 124, 3));
//estilos de a , h1, h2, p//
@each $nombre,$color in $colores {
    .color__#{$nombre}{
        @if $nombre == "titulo"{
            color: $color;
            text-decoration: none;
            font-size: 4rem;
        }
        @if $nombre == "subtitulo"{
            color: $color;
            text-decoration: underline;
            font-size: 2.5rem;
        }
        @if $nombre == "parrafo"{
            color: $color;
            text-decoration: none;
            font-size: 2rem;
        }
        @if $nombre == "links"{
            color: $color;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}
//mixins para re utilizar sombras//
@mixin sombras {
    -webkit-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
    box-shadow: -8px 14px 37px 0px rgba(0,0,0,0.52);
}
//mixin estilos de imagen dentro de cards//
@mixin imagenCards($estiloBorde,$color,$radio,$ancho,$largo,$margen) {
    border: $estiloBorde $color;
    border-radius:$radio;
    width:$ancho;
    height:$largo;
    align-self: center;
    margin :$margen;
}

