header{
    background-image: url("../imagenes/fondoHeader.jpg");
    background-size: cover;
    text-align: center;
    width: 100vw;
}
.imagenLogo{
    border-radius: 50%;
    border: double 1rem #5F6CAF;
}