.accesorios_card{
    margin: 0.3rem auto 0.7rem;
    flex-wrap: nowrap;
    border-radius: 3rem;
    background-color: rgb(255, 182, 119);
    .card-img-top{
        border-radius: 1rem;
        width: 20rem;
        height: 25rem;
        align-self: center;
        margin :1rem;
    }
    
}
