.contenedor_video_alquimia{
    display: flex;
    flex-direction: row;
    h2{
        text-align: center;
        margin: 2rem;
    }
    iframe{
        height: 40rem;
        border-radius: 3rem;
        margin: 2rem auto 2rem;
        padding: 0;
        @include sombras;
    }
    p{
        text-align: center;
        margin: 2rem auto;
        padding: 4rem;
    }
}
