.titulo__formulario{
    @include titulosPrincipales(center,3rem,3rem);
}
form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    margin: 2rem auto;
}
