.index--titulo{
    @include titulosPrincipales(center,3rem,3rem);
}
.contenedor__cards_index{
    display: flex;
    flex-direction: row;
    margin: auto;
    .card{
        background-color: #FFB677;
        border-radius: 1.5rem;
        margin-top: 2rem;
        @include sombras;
        .card_titulo{
            text-align: center;
        }
        .card-img-top{
            @include imagenCards(solid,none,0.5rem,15rem,20rem,1rem);
            @include sombras;
        }
        .card_text{
            background-color: beige;
            height: 40rem;
            border-radius: 0.5rem;
            border:double 0.5rem black;
            text-align: center;
            align-self: center;
            padding: 3rem;
            overflow: auto;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
}
.titulo_barras{
        
    h2{
    text-align: center;
    margin: 2rem;
    text-decoration: underline;
    }
    .contenedor_barras{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        margin: 2rem auto;
        h3{
            font-size:smaller;
        }
        .barra{
            height: 2rem;
            margin: 2rem;
            @include sombras;
        }
    }
}
.contenedor__videos{
    margin: 2rem auto;
    h2{
        text-align: center;
        margin:2rem auto;
        font-size:large;
    }
    .videos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        iframe{
            padding: 0;
            margin: 0;
            @include sombras;
            &:hover{
                border-radius: 15px;
                @include sombras;
                transform: rotateY(360deg);
                transition:linear 5s; 
            }
        }
    }
}
