/*Estilos generales para toda la pagina*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;  
}
main{
    width: 100vw;
}
body{
    background: linear-gradient(to bottom,#5F6CAF, #EDF7FA, #5F6CAF);
    
}
footer{
    width: 100vw;
}
/*estilos de etiquetas de texto generales para toda la pagina*/
a{
    @extend .color__links;
    @extend h1;
}
h1{
    @extend .color__titulo;
    font-family: Inter;
    font-weight: bold;
    text-align: center;
}
h2{
    @extend .color__subtitulo;
    @extend h1;
    font-style: oblique;
}
p{
    @extend .color__parrafo;
    font-family: Bangers;
}